body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    max-height: 100%;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 30px 5px rgba(66, 68, 90, 1);
}

h1 {
    font-family: 'Playfair Display', serif;
}

button {
    padding: 0.2rem 3rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: none;
}

.submit_area {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

textarea {
    overflow: hidden;
    resize:none;
    max-width: 20rem;
    height: 1rem;
    margin: 1rem;
    padding: 0 1rem;
}

#submitted_tasks {
    display:flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-size: 1.25rem; 
}

#submitted_tasks p {
    margin: 0.5rem;
}

.checked_item {
    text-decoration: line-through;
    color:lightgray;
    font-style: italic;
    padding: 0.5rem 1rem;
}

.priority_level_1 {
    color: #339900;
}

.priority_level_2 {
    color: #ccff33;
}

.priority_level_3 {
    color: #ffcc00;
}

.priority_level_4 {
    color: #ff9933;
}

.priority_level_5 {
    color: #ff0000;
}